<?xml version='1.0' encoding='utf-8'?>
<widget id="com.torepalmgren.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Todo</name>
    <description>
        A simple todo app.
    </description>
    <author email="palmgren.tore@gmail.com" href="http://phonegap.com">
        Tore Palmgren
    </author>

    <preference name = "orientation" value = "portrait"/>

    <preference name = "fullscreen" value = "true"/>

    <content src="index.html" />
    <access origin="*" />

    <icon src="icon.png"/>


</widget>
